@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  background-color: #0d0d0d;
  color: #fff;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
}

.header {
  padding: 1.5rem;
  background: linear-gradient(45deg, #ff416c, #ff4b2b, #ff9a44, #ffd700, #adff2f, #32cd32, #00ced1, #1e90ff, #8a2be2, #ff1493);
  background-size: 200% 200%;
  animation: gradient 10s ease infinite;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  margin-bottom: 1.5rem;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.container {
  height: auto;
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.hide-board {
  display: none;
}

.game {
  height: 50vmin;
  width: 50vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1vmin;
}

.box {
  height: 15vmin;
  width: 15vmin;
  border-radius: 0.8rem;
  border: 2px solid #00ffcc;
  box-shadow: 0 0 0.8rem rgba(0, 255, 204, 0.5);
  font-size: 7vmin;
  color: #00ffcc;
  background-color: #1a1a1a;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.box:hover {
  background-color: #333;
  transform: scale(1.05);
}

#reset-btn, #new-btn {
  padding: 0.75rem;
  font-size: 1rem;
  background-color: #333;
  color: #00ffcc;
  border-radius: 0.8rem;
  border: 2px solid #00ffcc;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

#reset-btn:hover, #new-btn:hover {
  background-color: #00ffcc;
  color: #333;
}

/* Mobile view adjustments */
@media (max-width: 600px) {
  .header {
    padding: 1rem;
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }

  #reset-btn, #new-btn {
    padding: 0.5rem;
    font-size: 0.9rem;
  }

  #msg {
    font-size: 4vmin;
  }
}

#msg {
  color: #00ffcc;
  font-size: 5vmin;
}

.msg-container {
  height: auto;
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.hide {
  display: none;
}

footer {
  background-color: #1a1a1a;
  color: #00ffcc;
  padding: 1rem;
  width: 100%;
  text-align: center;
  font-size: 0.9rem;
  margin-top: 2rem;
  position: relative; /* Keep the footer in its natural flow */
  bottom: 0;
}

footer a {
  color: #00ffcc;
  text-decoration: none;
  font-weight: bold;
}

footer a:hover {
  text-decoration: underline;
}
