@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0d0d0d;
  color: #fff;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.header {
  padding: 2rem;
  background: linear-gradient(45deg, #ff416c, #ff4b2b, #ff9a44, #ffd700, #adff2f, #32cd32, #00ced1, #1e90ff, #8a2be2, #ff1493);
  background-size: 200% 200%;
  animation: gradient 10s ease infinite;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.container {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5vmin;
}

.box {
  height: 18vmin;
  width: 18vmin;
  border-radius: 1rem;
  border: 2px solid #00ffcc;
  box-shadow: 0 0 1rem rgba(0, 255, 204, 0.5);
  font-size: 8vmin;
  color: #00ffcc;
  background-color: #1a1a1a;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.box:hover {
  background-color: #333;
  transform: scale(1.05);
}

#reset-btn, #new-btn {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #333;
  color: #00ffcc;
  border-radius: 1rem;
  border: 2px solid #00ffcc;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

#reset-btn:hover, #new-btn:hover {
  background-color: #00ffcc;
  color: #333;
}

#msg {
  color: #00ffcc;
  font-size: 5vmin;
}

.msg-container {
  height: 100vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}

.hide-board {
  display: none;
}

